<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../static/logo.png" />
    <title>AFAR: Analysis For Anime Recommendation</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="../static/js/main.js"></script>

    <style>
        /* di file global.css atau index.css */
        .scrollbar-hide::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }

        .scrollbar-hide {
            -ms-overflow-style: none;  /* IE dan Edge */
            scrollbar-width: none;     /* Firefox */
        }
    </style>
</head>
<body>
    <div class="flex h-screen relative">

        <!-- Sidebar -->
        <aside class='top-0 w-20 bg-orange-100 py-4 flex flex-none flex-col z-10 justify-start items-center gap-6 transition-all duration-300 ease-in-out' id="aside_">
            
            <div class="flex flex-col gap-2">
                <div 
                    class="bg-orange-300 rounded-2xl h-10 aspect-square flex justify-center items-center"
                    title="Anime"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-speedometer" viewBox="0 0 16 16">
                        <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2M3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707M2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8m9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5m.754-4.246a.39.39 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.39.39 0 0 0-.029-.518z"/>
                        <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.95 11.95 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0"/>
                    </svg>
                </div>
            </div>
        
        </aside>
        
        <!-- Dashboard -->
        <main class="flex-grow bg-gray-50 overflow-auto scrollbar-hide font-sans" id="dashboard_">
            <div class='pt-5 px-6'>
                <div class="flex gap-2 mb-4 justify-between items-center">
                    <h1 class="text-2xl font-bold text-gray-800">Analytics Dashboard</h1>
                    <div>
                        <button 
                            id="resetBtn"
                            class="px-4 py-2 bg-gray-300/50 rounded-full text-sm font-medium uppercase cursor-pointer hover:bg-gray-300 transition"
                            onclick="refreshScraping()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                            </svg>
                        </button>
                        <button 
                            id="filterBtn"
                            class="px-4 py-2 bg-orange-300/40 rounded-full text-sm font-medium uppercase cursor-pointer hover:bg-orange-300 transition">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                            </svg>
                        </button>
                    </div>

                    <div 
                        id="filterMenu"
                        class="absolute right-5 top-14 w-200 bg-white shadow-lg rounded-xl p-5 z-50 hidden">

                        <div class="grid grid-cols-2">
                            <div class="flex flex-col">
                                <h3 class="font-semibold text-gray-800 mb-2">Genre Filter</h3>

                                <input type="text" id="genreSearch" placeholder="Search genre..." class="mb-2 px-3 py-1 rounded-md text-sm">
                                <label class="flex items-center mb-2 font-medium w-full cursor-pointer hover:bg-gray-200 px-2 rounded-md cursor-pointer transition duration-300 ease-in-out" for="genreAll">
                                    <input type="checkbox" id="genreAll" class="mr-2">
                                    All
                                </label>

                                <div class="h-[40vh] overflow-y-auto" id="genreFilter"></div>
                            </div>
                            <div class="flex flex-col">
                                <h3 class="font-semibold text-gray-800 mb-2">Studio Filter</h3>

                                <input type="text" id="studioSearch" placeholder="Search studio..." class="mb-2 px-3 py-1 rounded-md text-sm">
                                <label class="flex items-center mb-2 font-medium w-full cursor-pointer hover:bg-gray-200 px-2 rounded-md cursor-pointer transition duration-300 ease-in-out" for="studioAll">
                                    <input type="checkbox" id="studioAll" class="mr-2">
                                    All
                                </label>

                                <div class="h-[40vh] overflow-y-auto" id="StudioFilter"></div>
                            </div>
                        </div>

                        <div class="flex w-full justify-end">
                            <button id="applyFilterBtn"
                                class="mt-4 px-4 py-2 bg-orange-400 text-white rounded-md hover:bg-orange-500 transition duration-300 ease-in-out ring-2 hover:ring-orange-500/40 ring-orange-200/40 cursor-pointer"
                                onclick="applyFilters()"
                            >
                                Apply
                            </button>
                        </div>

                    </div>

                </div>
            </div>

            <div class='pt-5 px-6'>
                <div class="grid grid-cols-4 gap-4 mb-6">

                    <!-- anime watched -->
                    <div class="grid grid-cols-1 gap-2 row-span-2 h-[75vh]">
                        <!-- count watched and unwatched -->
                        <div class="bg-white rounded-lg shadow-md p-3">
                            <div class="grid grid-cols-2 gap-3 overflow-x-auto scrollbar-hide">
                                <div class="flex items-center gap-2 hover:bg-green-200/20 p-2 cursor-pointer rounded-lg transition duration-300 ease-in-out" onclick="filterWatchStatus('watched')">
                                    <div class="bg-green-100 rounded-full p-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="text-green-500" viewBox="0 0 16 16">
                                            <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5M13.991 3l.024.001a1.5 1.5 0 0 1 .538.143.76.76 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.5 1.5 0 0 1-.143.538.76.76 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.5 1.5 0 0 1-.538-.143.76.76 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.5 1.5 0 0 1 .143-.538.76.76 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2"/>
                                        </svg>
                                    </div>
                                    <div>
                                        <p class="text-gray-500 text-sm">Watched</p>
                                        <h3 class="text-3xl font-bold text-gray-800" id="stat_watched">0</h3>
                                    </div>
                                </div>
    
                                <div class="flex items-center gap-2 hover:bg-red-200/20 p-2 cursor-pointer rounded-lg transition duration-300 ease-in-out"  onclick="filterWatchStatus('unwatched')">
                                    <div class="bg-red-100 rounded-full p-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="text-red-500" viewBox="0 0 16 16">
                                            <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5M13.991 3l.024.001a1.5 1.5 0 0 1 .538.143.76.76 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.5 1.5 0 0 1-.143.538.76.76 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.5 1.5 0 0 1-.538-.143.76.76 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.5 1.5 0 0 1 .143-.538.76.76 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2"/>
                                        </svg>
                                    </div>
                                    <div>
                                        <p class="text-gray-500 text-sm">Unwatched</p>
                                        <h3 class="text-3xl font-bold text-gray-800" id="stat_unwatched">0</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Anime Listed -->
                        <div class="bg-white rounded-lg shadow-md">
                            <h2 class="text-lg font-semibold text-gray-800 mb-4 px-6 pt-6">Anime Listed</h2>
                            <div id="animewatched_" class="w-full min-w-0 h-[50vh] px-4 overflow-hidden hover:overflow-y-auto"></div>
                        </div>

                    </div>

                    <!-- Recommendation -->
                    <div class="bg-white rounded-lg shadow-md row-span-2 h-[75vh]">
                        <h2 class="text-lg font-semibold text-gray-800 mb-4 px-6 pt-6">Recommendation</h2>
                    </div>

                    <!-- demographic -->
                    <div class="bg-white rounded-lg shadow-md p-6 col-span-2 row-span-2 h-[75vh]">
                        <h2 class="text-lg font-semibold text-gray-800 mb-4">Demographic</h2>
                        <div class="flex w-full h-full justify-center items-center">
                            <canvas 
                                id="demographicchart_" 
                                class="w-full min-w-0 overflow-hidden hover:overflow-y-auto"
                            ></canvas>
                        </div>
                    </div>

                    <!-- stats -->
                    <div class="grid grid-cols-3 gap-4 col-span-4">
    
                        <!-- Top 5 Genre Watched -->
                        <div class="bg-white rounded-lg shadow-md p-6">
                            <h2 class="text-lg font-semibold text-gray-800 mb-4">Top 5 Genre Watched</h2>
                            <div id="genrewatched_" class="w-full min-w-0 h-[20vh] px-2 overflow-hidden hover:overflow-y-auto"></div>
                        </div>
    
                        <!-- Top 5 Studio Watched -->
                        <div class="bg-white rounded-lg shadow-md p-6">
                            <h2 class="text-lg font-semibold text-gray-800 mb-4">Top 5 Studio Watched</h2>
                            <div id="studiowatched_" class="w-full min-w-0 h-[20vh] px-2 overflow-hidden hover:overflow-y-auto"></div>
                        </div>
    
                        <!-- Top 5 Procedur Watched -->
                        <div class="bg-white rounded-lg shadow-md p-6">
                            <h2 class="text-lg font-semibold text-gray-800 mb-4">Top 5 Procedur Watched</h2>
                            <div id="procedurwatched_" class="w-full min-w-0 h-[20vh] px-2 overflow-hidden hover:overflow-y-auto"></div>
                        </div>
                    </div>

                    <!-- Anime Time -->
                    <div class="bg-white rounded-lg shadow-md p-6 col-span-4">
                        <h2 class="flex text-lg font-semibold text-gray-800 mb-4 justify-center item-center">Anime Time</h2>
                        <canvas id="animetimechart_" class="w-full min-w-0 px-2 overflow-hidden hover:overflow-y-auto"></canvas>
                    </div>

                </div>
            </div>
        </main>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script> // penggunaan fungsi di dashboard
        const ttlMs = 10080 * 60 * 1000 // 10,080 menit = 7 hari
        const filterBtn = document.getElementById('filterBtn');
        const filterMenu = document.getElementById('filterMenu');
        let animelist
        
        // Cek session storage
        if(getSessionStorage('animelist')){
            animelist = getSessionStorage('animelist')
            
            async function init() {
                setSessionStorage('animelist', animelist, ttlMs)
                
                
                const analysis = await startAnalysis(animelist.data)
                
                await chartManagement(animelist, analysis)
                initialFilter(analysis)

                

            }

            init()
        }else{ // minta input username
            document.addEventListener("DOMContentLoaded", () => {
                inputUsername(ttlMs)
            })
        }

        // Toggle menu
        filterBtn.addEventListener('click', (e) => {
            e.stopPropagation() // cegah langsung ketutup
            filterMenu.classList.toggle('hidden')
        })

        // Klik di luar → tutup menu
        document.addEventListener('click', (e) => {
            if (!filterMenu.contains(e.target) && !filterBtn.contains(e.target)) {
                filterMenu.classList.add('hidden')
            }
        })

        // Select all checkbox functionality
        genreAll.addEventListener('change', () => {
            toggleAll( document.getElementById('genreFilter'), genreAll.checked)
        })

        // Select all checkbox functionality
        studioAll.addEventListener('change', () => {
            toggleAll(document.getElementById('StudioFilter'), studioAll.checked)
        })

    </script>

</body>
</html>